docs/api
tests/_log
tests/_log/*
docs/*.txt
docs/*.html
/nbproject/private/
*.log
data/reports/*
/.settings/
.idea/*
.buildpath
.project
/tests/_data/*
/public/clinicLogos/*
.idea
vendor/*
/vendor
.zfproject.xml

.zfproject.xml

nbproject
composer.phar